.swiper-wrapper {
    align-items: center;
    display: flex;
    text-align: center;
    width: 100%;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    color: #e0940f;
    padding: 2rem;
}

.swiper-pagination-bullet {
    border: 4px solid #2e2e2e;
}