.product__group {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 4rem;
}

.product__layer {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product__layer img {
    border: 4px solid #e0940f;
}

.product__tag {
    background: #2e2e2e;
    padding: 0.5rem;
    border-radius: 0.5rem;
}